/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

/* VIDEO Y CAPA OSCURA */
.video-fondo {
  position: fixed;
}



/* LOGO */
.header-logo {
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 10;
}

.header-logo img {
  height: 60px;
}

/* USUARIO */
.toggle-user-menu {
  display: none;
}


/* HEADER */
header {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 30px;
  text-align: center;
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header h1 {
  font-size: 28px;
  color: lightyellow;
}

header p {
  color: #ddd;
}

/* MAIN */
main {
  flex: 1;
  padding: 40px;
  text-align: center;
}

main h2 {
  color: lightyellow;
  margin-bottom: 15px;
  font-size: 32px;
}

main p {
  color: white;
  font-size: 18px;
  margin-bottom: 40px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 220px;
  padding: 20px;
  text-decoration: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  backdrop-filter: blur(13px);
  box-shadow: 0 0 20px rgba(255, 255, 200, 0.3);
  transition: all 0.3s ease;
}

ul li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff5b0;
}

.icono {
  font-size: 48px;
  margin-bottom: 15px;
}

.titulo {
  font-size: 20px;
  font-weight: bold;
}

.descripcion {
  font-size: 14px;
  color: #ccc;
  margin-top: 5px;
}

/* FOOTER */
footer {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  padding: 15px;
  backdrop-filter: blur(6px);
}



.cerrar-sesion {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color: #fff5b0;
  color: #000;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s;
  z-index: 10;
}

.cerrar-sesion:hover {
  background-color: #f4e27a;
}
.volver {
  position: absolute;
  top: 31px;
  left: 125px;
  z-index: 10;
}

.volver a {
  background-color: transparent;
  color: #f5f5a5;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #f5f5a5;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 15px;
}

.volver a:hover {
  background-color: #f5f5a5;
  color: #000;
}