/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #1f1f29;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  background-color: #121218;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 32px;
  font-weight: bold;
  color: lightyellow;
  letter-spacing: 1px;
}

/* MAIN */
main {
  flex: 1;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* SUBTÍTULO */
main h2 {
  font-size: 22px;
  color: #f5f5a5;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}


iframe {
  width: 100%;
  max-width: 900px;
  height: 500px;
  border: none;
  border-radius: 12px;
  background-color: #fafafa;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* BOTÓN DE VOLVER */
.volver {
  margin-top: 10px;
}

.volver a {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #f5f5a5;
  color: #f5f5a5;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.volver a:hover {
  background-color: #f5f5a5;
  color: #000;
}

/* FOOTER */
footer {
  background-color: #0a0a0a;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

