* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Outfit', sans-serif;
  color: #ffffff;
  position: relative;
  z-index: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}


.video-fondo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -2;
}


.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.header {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 35px;
}

.logo h1 {
  font-size: 24px;
  font-weight: 700;
  color: #edebff;
}
.navegacion a {
  margin-left: 15px;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 2px solid lightyellow;
  background: transparent;
  color: lightyellow;
}

.navegacion a:hover {
  background-color: #f9f9b7;;
  color: #000;
  transform: scale(1.05);
}




main {
  flex: 1;
  padding: 80px 40px 60px;
  text-align: center;
}

.hero {
  margin-bottom: 80px;
}

.texto-hero h2 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 20px;
  color: #ffffff;
}

.texto-hero h2 span {
  color: lightyellow;
}

.texto-hero p {
  font-size: 18px;
  color: #eaeaea;
  margin-bottom: 30px;
}

.btn-cta {
  background: lightyellow;
  color: #000;
  padding: 14px 36px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-cta:hover {
  background: rgb(255, 255, 122);
}

.beneficios {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap; 
}

.beneficio {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 25px 20px;
  width: 280px;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0,0,0,0.4);
  transition: transform 0.3s;
  backdrop-filter: blur(6px);
}

.beneficio:hover {
  transform: translateY(-6px);
}

.beneficio h3 {
  font-size: 20px;
  color: lightyellow;
  margin-bottom: 10px;
}

.beneficio p {
  font-size: 16px;
  color: #f0f0f0;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #cccccc;
}
