* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  overflow: hidden;
}

#video-fondo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.3);
}

.contenido {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
}

.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.lado-izquierdo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 50px;
}

.btn-volver {
  background-color: transparent;
  color: lightyellow;
  font-weight: bold;
  border: 2px solid lightyellow;
  padding: 8px 16px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-volver:hover {
  background-color: lightyellow;
  color: black;
}

.btn-cerrar {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 18px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

.btn-cerrar:hover {
  background-color: lightyellow;
  color: black;
}

.titulo-central {
  text-align: center;
  margin-top: 10px;
}

header h1 {
  font-size: 28px;
  color: lightyellow;
  margin-bottom: 5px;
}

header p {
  font-size: 16px;
  color: #e0e0e0;
  margin: 0;
}

main {
  flex: 1;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

main h2 {
  font-size: 28px;
  color: #ffffff;
}

main p {
  font-size: 16px;
  max-width: 600px;
  color: #e0e0e0;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.12);
  border: 2px solid #ffffff;
  border-radius: 16px;
  color: lightyellow;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.4s ease;
  backdrop-filter: blur(4px);
  box-shadow: 10px 10px 20px;
}

ul li a:hover {
  transform: scale(1.03);
  color: #000000;
}

.icono {
  margin-bottom: 15px;
  
}

.icono svg {
  width: 56px;
  height: 56px;
  fill: lightyellow;
}



.titulo {
  font-size: 20px;
  margin-bottom: 5px;
}

.descripcion {
  font-size: 14px;
  font-weight: normal;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}

.bienvenida-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.bienvenida-texto {
  text-align: center;
}

.bienvenida-texto h2 {
  font-size: 32px;
  color: #ffffff;
}

.bienvenida-texto p {
  font-size: 18px;
  color: #d4d4d4;
}